/* CSS Reset */

body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/bg.jpg');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 75px;
    filter: invert(100%);
    padding: 10px 0px 0px 24px;
}

.left div {
    line-height: 18px;
    font-size: 20px;
    text-align: center;
}

.mid {
    display: block;
    width: 74%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 140px 59%;
    width: 37%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}


/* Footer */

.footer {
    margin: -60px 0px 0px 0px;
    height: 160px 0;
    width: 100%;
    /* background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%); */
    display: flex;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.footer__img {
    width: 115px;
    filter: invert(100%);
    padding: 10px 0px 0px 24px;
}

.footer__items {
    width: 100%;
    color: rgb(160, 153, 153);
    list-style: none;
    font-size: 14px;
    align-items: center;
}

.footer__image div {
    font-size: 18px;
    padding: 0px 0px 0px 22px
}